@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
*{
  font-family:'inter';  
  box-sizing: border-box;
}

body {
  background-color: #dadada ;
}

.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 900;
  color: rgb(56, 56, 56);

  &:hover {
    color: black;
  }
}