.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
  
  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    padding-left: 50px;

    & img {
      height: 100%;
      width: 70px;
    }
  }

  .nav-links-container {
    align-items: center;
    padding: 10px;
    display: flex;
    align-items: center;

    .nav-links {
      padding-inline: 15px;
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
  color: rgb(56, 56, 56);

  &:hover {
    color: black;
  }
}