.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }

  .nav-links-container {
    align-items: center;
    padding: 10px;

    .nav-links {
      padding-inline: 15px;
      cursor: pointer;
    }
  }
}
